# 1. Generate a new API key for app management in app store connect
# the key ID
ASC_KEY_ID=""
# the issuer ID (find on top of all keys)
ASC_ISSUER_ID=""
# encoded content of p8 (open p8 in vsCode -> encode full content to b64)
ASC_KEY_CONTENT_B64=""
# app identifier (ex : com.centralSave)
APP_IDENTIFIER=""
# The email adress you use to login to app store connect
APPLE_ID=""
# App Store Connect team
ITC_TEAM_ID=""
# Team found on the Developer Portal
TEAM_ID=""

# app review informations - developer contact
FIRST_NAME=""
LAST_NAME=""
PHONE_NUMBER=""
EMAIL_ADDRESS=""

# If no account is needed, left this empty
DEMO_USER=""
DEMO_PASSWORD=""
NOTES=""